
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 700px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    background: url(../assets/head-7.jpg) no-repeat #000 50% 45%;
    background-size: cover;
    position: relative;
}

.total-head {
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header-logo {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Marck Script', cursive;
    font-size: 34px;
    align-items: center;
    color: #f7f716;
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    color: #ffffff;
}
a:hover {
    color: #f4ec4b;
}

.icon-menu {
    display: none;
}

.welcome {
    text-align: center;
    margin-top: 250px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet-1 {
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    font-size: 35px;
    margin-bottom: 30px;
}
.meet-2 {
    font-size: 65px;
    font-weight: 400;
    margin-bottom: 50px;
    letter-spacing: -2px;
}

.btn-head {
    /* font-family: 'Marck Script', cursive; */
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 70px;
    border: none;
    background: #c7c05b;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    /* letter-spacing: -1px;   */
    transition: background-color 0.5s;
    cursor: pointer;
    opacity: 0.8;
}

.btn-head:hover {
    background-color: #fafa03;
}

.img-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6; 
    z-index: 0; 
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;  
}

main {
    width: 100%;
    height: auto;
}

.advantages {
    margin: 0 auto;
    padding-top: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.advantages p {
    font-style: italic;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 100px;
}

.advantages-wrapper {
    display: flex;
    justify-content: center;
}

.advantage {
    width: 250px;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage:not(:last-child) {
    margin-right: 150px;
}

.text-mean {
    height: 200px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.advantage p {
    font-style: normal;
    letter-spacing: 0.5px;
    margin: 25px 0;
}

.icon-mean-1, 
.icon-mean-2,
.icon-mean-3 {
    width: 200px;
    height: 200px;
}

.advantage img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.btn-advantages {
    width: 120px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: #c7c05b;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.5s;
    cursor: pointer;
    opacity: 0.6;
}

.btn-advantages:hover {
    background-color: #fafa03;
}


.workout {
    width: 100%;
    padding-top: 150px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
}

.workout p {
    font-family: 'Slabo 27px', serif;
    font-style: normal;
}

.workout>p {
    margin-bottom: 100px;
    font-style: italic;
}

/* .workout p {
    font-style: normal;
} */

.gall {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}

.gallery {
    width: 100%;
    
}

.gallery h2 {
    margin-bottom: 15px;
}

.icon-gal {
    position: relative;
    margin: 15px;
    z-index: 0;
}

.icon-gal img {
    width: 338px;
    height: 225px;
}

.icon-gal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(254,209,54,.9);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    width: 338px;
    height: 225px;
}

.icon-gal:hover::after {
    content: "";
    opacity: 0.7;
    cursor: pointer;
}

.icon-gal::before {
    content: "+";
    color: #ffffff;
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.icon-gal:hover::before {
    content: "+";
    opacity: 1;
    cursor: pointer;
}

.recommendation {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

.recommendation p {
    font-style: italic;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 100px;
}

.rec-block-left p {
    font-style: normal;
    text-align: right;
    margin-bottom: 15px;
}

.rec-block-right p {
    font-style: normal;
    text-align: left;
    margin-bottom: 15px;
}

.rec-block-left h2,
.rec-block-right h2 {
    margin-bottom: 30px;
    text-overflow: unset;
}

.btn-rec {
    width: 120px;
    height: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: #c7c05b;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.5s;
    cursor: pointer;
    opacity: 0.6;
}

.btn-rec:hover {
    background-color: #fafa03;
}
.recommendation-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
    width: 1100px;
}

.rec-block-left,
.rec-block-right {
    width: auto; 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.img-block{
    width: 230px;
    height: 230px;
    position: relative;
} 

.img-block img {
    border-radius: 50%; 
    width: 230px;  
    height: 230px;
    z-index: 3;
    object-fit: cover;
} 

.empty {
    width: 33%;
    height: auto;
}

.block {
    width: 33%;
    height: auto;
    margin-bottom: 10px;
}

.team {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

.team p {
    font-style: italic;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 100px;
}

.team-block {
    margin-bottom: 50px;
}

.team-block .img-team,
.team-block .img-team-1,
.team-block .img-team-2 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

.team-block .img-team {
    background-image: url("../assets/team-1.jpg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: cover;
}

.team-block .img-team-1 {
    background-image: url("../assets/team-2.jpg");
    background-repeat: no-repeat;
    background-position: 75% 50%;
    background-size: cover;
}

.team-block .img-team-2 {
    background-image: url("../assets/team-3.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
}

.team-block img{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    margin-bottom: 30px;
}

.team-block h2 {
    margin-bottom: 15px;
}

.team-block p {
    font-style: normal;
    margin-bottom: 20px;
}

.network {
    display: flex;
    justify-content: center;
}

.team p {
    font-style: normal;
}

.img-total {
    background: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 0;
    text-decoration: none;
    position: relative;
    margin: 0 5px;
    transition: background-color 0.7s;
}

.img-total:hover {
    background: rgb(202, 190, 20);
}

.network .img-t:after {
    font-family: FontAwesome;
    content: "\f099";
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    top: 7px;
    left: 8px;
    z-index: 1;
    display: inline-block;
}

.network .img-f:after {
    font-family: FontAwesome;
    content: "\f09a";
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 11px;
    z-index: 1;
    display: inline-block;
}

.network .img-li:after {
    font-family: FontAwesome;
    content: "\f0e1";
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 1;
    display: inline-block;
}

.contact {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
    background: url("../assets/gal.jpg") no-repeat 50% 70%;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact h1 {
    color: #ffffff;
}
.contact p {
    font-style: italic;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 100px;
    color: #ffffff;
}
.contact-wrapper {
    width: 1100px;
    margin: 0 auto;
}

.contact-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
}

#name,
#mail,
#phone,
#message,
#button {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 25px;
}

#name,
#mail,
#phone,
#message {
    padding-left: 10px;
    font-weight: bold;
    background-color: #ffffff;
}

#name,
#mail,
#phone {
    width: 90%;
    height: auto;
    padding: 20px 10px;
}

#phone {
    margin-bottom: 5px;
}

#name:hover,
#mail:hover,
#phone:hover,
#message:hover {
    color: #949490;
}

.contact-right {
    width: 50%;
    height: auto;
}

#message {
    width: 90%;
    padding: 20px 10px;
    height: 255px; 
    margin: 0;
}

#button {
    width: 220px;
    height: 70px;
    background: #c7c05b;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s;
    text-align: center;
    opacity: 0.9;
}

#button:hover {
    background-color: #fafa03;
}

footer {
    width: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

.footer-wrapper {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-wrapper p:first-of-type {
    letter-spacing: -1px;
}

.footer-wrapper p:last-of-type {
    color: #caca1e;
    font-weight: bold;
}

.icon-network {
    position: relative;
}
.icon-network a {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #000000;
    display: inline-block;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: background-color 0.7s;
}

.icon-network a:hover {
    background-color: rgb(202, 190, 20);
}

.icon-network a:first-child::after {
    font-family: FontAwesome;
    content: "\f099";
    z-index: 0;
    position: absolute;
    top: 20%;
    left: 20%; 
    font-size: 25px;
    transform: translate(-50% -50%); 
    color: #ffffff;
}

.icon-network a:nth-child(2)::after {
    font-family: FontAwesome;
    content: "\f09a";
    z-index: 0;
    position: absolute;
    top: 20%;
    left: 30%; 
    font-size: 25px;
    transform: translate(-50% -50%);
    color: #ffffff;
}

.icon-network a:last-child::after {
    font-family: FontAwesome;
    content: "\f0e1";
    z-index: 0;
    position: absolute;
    top: 15%;
    left: 25%; 
    font-size: 25px;
    transform: translate(-50% -50%);
    color: #ffffff;
}

@media screen and (max-width: 1300px) {
    .total-head {
        width: 95%;
        margin-left: 30px;
    }
    
    .advantages {
        width: 70%;
        text-align: center;
    }

    .advantages-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .advantage:not(:last-child) {
        margin-right: 50px;
    }

    .gallery-wrapper {
        width: 50%;
    }
    
    .gal {
        display: flex;
        justify-content: space-around;
    }

    .icon-gal img {
        width: 280px;
        height: 187px;
    }

    .icon-gal::after {
        width: 280px;
        height: 187px;
    }

    .icon-gal::before {
        font-size: 160px;
    }
    
    .recommendation-wrapper {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }

    .img-block img {
        width: 230px;
        height: 230px;
    }

    .team-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }
   
    .contact-wrapper {
        width: 90%;
    }
    
    .contact-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }

    .contact-left {
        width: 70%;
        height: auto;
        display: flex;
        align-items: center;
    }

    .contact-right {
        width: 70%;
        height: 75%;
        
    }
    #message {
        display: inline-block;
        vertical-align: middle;
        height: 198px;
    }
    
    .footer-wrapper {
        width: 100%;
        height: auto;
    }
    .icon-network a {
        margin: 10px 3px;
    }
}

@media screen and (max-width: 1000px){
    .total-head {
        width: 100%;
        margin-left: 0;
    }

    .front {
        width: 100%;
    }

    .icon-menu {
        font-family: 'Kaushan Script', cursive;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #c7c05b;
        width: 60px;
        height: auto;
        display: inline-block;
        border-radius: 5px;
        margin-right: 25px;
        vertical-align: middle;
        padding: 0 10px;
        font-size: 14px;
        color: #333;
        text-decoration: none;
    }

    .icon-menu:hover {
        background-color: #fafa03;
        color: #333;
    }

    .header-logo {
        padding-left: 10px;
        align-items: flex-start;
        flex-grow: 1;
        margin-right: 0;
        margin-left: 0;
        font-size: 20px;
        margin-left: 10px;
        background-color: #000;
    }

    .menu a {
        color: #000000;
        padding: 2px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        margin-right: 10px;
    }

    .menu {
        transition: top 0.5s;
        position: absolute;
        top: -250px;
        display: flex;
        flex-direction: column;
        right: 0;
        z-index: -1;
        background: black;
        width: 100%;
        align-items: stretch; 
    }

    .open {
        top: 29px;
    }

    .menu a {
        color: #ffffff;
        padding: 15px 0 15px 20px;
        text-align: left;
        font-size: 16px;
    }

    .menu a:hover {
        color: #f4ec4b;
    }
    
    .total-head {
        justify-content: space-between;
        background-color: #000000;
    } 

    .welcome {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .advantages {
        padding-top: 100px;
    }

    .advantage img {
        width: 170px;
        height: 170px;
    }

    .workout {
        padding-top: 100px;
        width: 90%;
    }

    .gallery-wrapper {
        width: 50%;
    }
    
    .gal {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .icon-gal img {
        width: 200px;
        height: 134px;
    }

    .icon-gal::after {
        width: 200px;
        height: 134px;
    }

    .icon-gal::before {
        font-size: 120px;
    }

    .empty {
        display: none;
    }
    .recommendation {
        width: 90%;
        padding-top: 100px;
    }

    .recommendation p:last-child {
        margin-bottom: 70px;
    }
    
    .rec-block-left p {
        text-align: left;
    }
    
    .rec-block-right p {
        text-align: left;
    }
    
    .recommendation-wrapper {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 0 auto;
        width: 90%;
    }
    
    .rec-block-left {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .img-block{
        min-width: 200px;
        height: auto;
        order: 1;
    } 

    .img-block img {
        border-radius: 50%; 
        height: 130px;
        width: 130px;
    }
    
    .block {
        width: 80%;
        height: auto;
        order: 2;
    }
    .rec-block-right {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .team {
        padding-top: 100px;
    }

    .team-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
     .team p {
         padding: 0 20px;
     }

    .team h1 {
        padding: 0 20px;
     }

     .team-block .img-team,
    .team-block .img-team-1,
    .team-block .img-team-2 {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        
    }

    .contact {
        padding-top: 100px;
    }

    .contact-wrapper {
        width: 90%;
    }
    
    .contact-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }

    .contact-left {
        width: 70%;
        height: auto;
        display: flex;
        align-items: center;
    }

    .contact-right {
        width: 70%;
        height: 75%;
        
    }
    #message {
        display: inline-block;
        vertical-align: middle;
    }

    .footer-wrapper {
        width: 100%;
    }

    .open {
        top: 27px;
    }
}



@media screen and (max-width: 700px) {
    .advantages {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .advantages p {
        margin-bottom: 10px;
    }
    
    .advantages-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        width: 70%;
        margin: 20px;
    }

    .advantage:not(:last-child) {
        margin-right: 0;
    }

    .text-mean {
        height: auto;
    }

    .icon-mean-1,
    .icon-mean-2,
    .icon-mean-3 {
        margin: 30px 0;
        height: 150px;
    }
    
    .workout {
        width: 90%;
   
    }

    .gallery-wrapper {
        width: 80%;
    }

    .gall {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-gal img {
        width: 300px;
        height: 200px;
        position: relative;
    }

    .icon-gal::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        width: 300px;
        height: 200px;
    }

    .icon-gal::before {
        font-size: 180px;
    }

    .team-block .img-team,
    .team-block .img-team-1,
    .team-block .img-team-2 {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: 20px auto;
    }

    .contact-wrapper {
        width: 100%;
    }
    
    .contact-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .contact-left {
        width: 70%;
        height: auto;
        display: flex;
        align-items: center;
    }

    .contact-right {
        width: 70%;
        height: auto;
        
    }

    #phone {
        margin-bottom: 25px;
    }

    #message {
        margin-bottom: 25px;
     }

    .footer-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .open {
        top: 25px;
    }
}


@media screen and (max-width: 550px) {
     h1 {
         margin-top: 30px;
     }

    header {
        width: 100%;
        height: 600px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .total-head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #000;
    }

    .meet-1 {
        font-size: 28px;
    }

    .meet-2 {
        font-size: 46px;
        margin-bottom: 35px;
        width: 80%;
        text-align: center;
    }

    .btn-head {
       font-size: 18px;
       width: 170px;
       height: 60px;
    }

    .ing-menu {
        height: 100%;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        width: 100%;
        margin-left: 0;
    }

    .advantage img {
        width: 170px;
    }

    h1{
        font-size: 30px;
    }
    
    
    .rec-block-left,
    .rec-block-right {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* margin: 130px 0; */
    }

    .rec-block-left h2,
    .rec-block-right h2{
        word-wrap: break-word;
    }

    .img-block img {
        margin-bottom: 20px;
        width: 170px;
        height: 170px;
    }

    .block p {
        margin-bottom: 30px;
        text-align: center;
    }

}

@media screen and (max-width: 350px) {
    .open {
        top: 50px;
    }
}


















